<section id="experience" class="section-experience">
  <div class="container">
    <h2 class="experience-h">coffee moments</h2>
    <p class="experience-p">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="experience-ul">
      <li class="experience-li">
        <picture
          
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-1-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-1-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-1-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-1-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-1-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-1-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-1-mobile-min.jpg 1x,
            /src/img/experience/@2x/desktop/coffee-1-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li">
        <picture
          
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-2-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-2-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-2-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-2-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-2-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-2-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-2-mobile-min.jpg 1x,
            /src/img/experience/@2x/desktop/coffee-2-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-2-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li">
        <picture
          
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-3-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-3-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-3-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-3-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-3-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-3-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-3-mobile-min.jpg 1x,
            /src/img/experience/@2x/desktop/coffee-3-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li">
        <picture
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-4-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-4-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-4-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-4-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-4-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-4-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-4-mobile-min.jpg 1x,
            /src/img/experience/@2x/desktop/coffee-4-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li">
        <picture
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-5-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-5-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-5-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-5-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-5-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-5-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-5-mobile-min.jpg 1x,
            /src/img/experience/@2x/desktop/coffee-5-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li">
        <picture
        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-6-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-6-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/experience/tablet/coffee-6-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-6-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-6-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-6-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-6-mobile-min.jpg 1x,
            /img/experience/@2x/desktop/coffee-6-desktop@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
      <li class="experience-li last-li">
        <picture
          class="picture last-img"        >
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/experience/desktop/coffee-7-desktop-min.jpg        1x,
              /img/experience/@2x/desktop/coffee-7-desktop@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            width="704"
            srcset="
              /img/experience/tablet/coffee-7-tablet-min.jpg        1x,
              /img/experience/@2x/tablet/coffee-7-tablet@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/experience/mobile/coffee-7-mobile-min.jpg        1x,
              /img/experience/@2x/mobile/coffee-7-mobile@2x-min.jpg 2x
            "
          />
          <img
            class="experience-img"
            srcset="/img/experience/mobile/coffee-7-mobile-min.jpg 1x,
            /img/experience/@2x/mobile/coffee-7-mobile@2x-min.jpg 2x"
            alt="Coffee"
            src="/img/experience/mobile/coffee-1-mobile-min.jpg"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
