 <footer id="footer" class="page-footer container">
            <div class="footer-content">
              <div class="footer-logo-container">
                <div class="footer-top-container">
              <aic href="./index.html">
                    <svg class="footer-logo" >
                        <use href="../img/sprite.svg#icon-Company-Logo"></use> 
                    </svg>
                </aic>
                </div>
              <ul class="footer-social-list">
                <div class="footer-social-column">
                    <li>
                        <a class="footer-social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                            <svg class="social-icon" width="32" height="32">
                                <use class="footer-icons" href="../img/sprite.svg#icon-Facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer-social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                            <svg class="social-icon" width="32" height="32">
                                <use class="footer-icons" href="../img/sprite.svg#icon-Instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer-social-link" href="https://x.com/" target="_blank" rel="noopener noreferrer">
                            <svg class="social-icon" width="32" height="32">
                                <use class="footer-icons" href="../img/sprite.svg#icon-X"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                </div>
                
              
                <ul class="footer-nav-column">
                  
                    <li><a class="footer-nav-link" href="#about">About us</a></li>
                    <li><a class="footer-nav-link" href="#benefits">Benefits</a></li>
                    <li><a class="footer-nav-link" href="#gallery">Gallery</a></li>
                    <li><a class="footer-nav-link" href="#testimonial">Testimonial</a></li>
                    <li><a class="footer-nav-link" href="#location">Location</a></li>
                </ul>

            </div>
            <div class="footer-copyright">
            <p class="copyright-text">© 2025 CoffeeJoy. All rights reserved.</p>
            </div>
    </footer>

</body>
</html>