<section class="quality-section" id="quality">
    <div class="container">
    <p class="quality-text-first">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text-second">At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, 
        crafted with care by our skilled baristas. Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
    </p>
    <ul class="quality-list">
        <li class="quality-item">
            <picture class="quality-item-picture">
                <source media="(min-width: 1440px)"
                            srcset="/img/quality/desk-1-min.jpg 1x, /img/quality/desk-1@2x-min.jpg 2x">
                            <source media="(min-width: 768px)"
                            srcset="/img/quality/tab-1-min.jpg 1x, /img/quality/tab-1@2x-min.jpg 2x">
                            <source media="(max-width: 767px)"
                             srcset="/img/quality/mob-1-min.jpg 1x, /img/quality/mob-1@2x-min.jpg 2x">
                    <img src="/img/quality/desk-1.jpg" alt="desk-1-img"  class="quality-img">
            </picture>
            <h3 class="quality-item-title">Fresh-Roasted Coffee for Every Taste</h3>
            <p class="quality-item-text">Savor the rich flavors of our expertly sourced beans.</p>
        </li>
        <li class="quality-item">
            <picture class="quality-item-picture">
                <source media="(min-width: 1440px)"
                            srcset="/img/quality/desk-2-min.jpg 1x, /img/quality/desk-2@2x-min.jpg 2x">
                            <source media="(min-width: 768px)"
                            srcset="/img/quality/tab-2-min.jpg 1x, /img/quality/tab-2@2x-min.jpg 2x">
                            <source media="(max-width: 767px)"
                             srcset="/img/quality/mob-2-min.jpg 1x, /img/quality/mob-2@2x-min.jpg 2x">
                    <img src="/img/quality/desk-2.jpg" alt="desk-2-img"  class="quality-img">
            </picture>
            <h3 class="quality-item-title">Expert Baristas Crafting Your Perfect Brew</h3>
            <p class="quality-item-text">Our baristas are passionate about coffee and skilled in their craft.</p>
        </li>
        <li class="quality-item big">
            <picture class="quality-item-picture">
                <source media="(min-width: 1440px)" srcset="/img/quality/desk-3-min.jpg 1x, /img/quality/desk-3@2x-min.jpg 2x">
                <source media="(min-width: 768px)" srcset="/img/quality/tab-3-min.jpg 1x, /img/quality/tab-3@2x-min.jpg 2x">
                <source media="(max-width: 767px)" srcset="/img/quality/mob-3-min.jpg 1x, /img/quality/mob-3@2x-min.jpg 2x">
                <img src="/img/quality/desk-3.jpg" alt="desk-3-img" class="quality-img">
            </picture>
            <h3 class="quality-item-title">Cozy Atmosphere</h3>
            <p class="quality-item-text">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
        </li>
    </ul>
    </div>
</section>