<section class="subscribe section" id="subscribe">
	<div class="container">
		<div class="actions">
			<h2 class="subscribe-heading">Join Our Coffee Community</h2>
			<p class="subscribe-subtitle">Experience the joy of coffee delivered right to your door. Sign up today!</p>
			<form class="subscribe-form">
				<div class="subscribe-email-container">
					<div class="subscribe-input-container">
						<input class="subscribe-input" id="email" type="email" placeholder="Your Email Here" aria-label="email" required />
						<p class="email-invalid">Invalid Email</p>
					</div>
					<button class="subscribe-button" type="submit">Subscribe
						<span class="subscribe-icon-container">
							<svg class="subscribe-icon" width="24" height="24">
								<use href="/img/sprite.svg#icon-chevrons-right"></use>
							</svg>
						</span>
					</button>
				</div>
				<p class="subscribe-label">By clicking Get Started, you agree to our Terms and Conditions.</p>
			</form>
		</div>

		<div class="subscribe-image-container">
			<picture>
				<source media="(max-width: 767px)" srcset="/img/subscribe/subscribe-mobile-min.jpg 1x, /img/subscribe/subscribe-mobile@2x-min.jpg 2x">
				<source media="(min-width: 1440px)" srcset="/img/subscribe/subscribe-desktop-min.jpg 1x, /img/subscribe/subscribe-desktop@2x-min.jpg 2x">
				<source media="(min-width: 768px)" srcset="/img/subscribe/subscribe-tablet-min.jpg 1x, /img/subscribe/subscribe-tablet@2x-min.jpg 2x">
				<img class="subscribe-image" src="/img/subscribe/subscribe-mobile-min.jpg" alt="employees work in office">
			</picture>
		</div>
	</div>
</section>