<section class="subscribe ">
	<div class="container">
		<h2 class="subscribe-heading">Join Our Coffee Community</h2>
		<p class="subscribe-subtitle">Experience the joy of coffee delivered right to your door. Sign up today!</p>

		<form class="subscribe-form">
			<label class="subscribe-label" for="email">
				<input class="subscribe-input" id="email" type="email" placeholder="Your Email Here">
			</label>
		<button class="subscribe-button" type="submit">Subscribe</button>
		</form>

		<p class="subscribe-prevention">By clicking Get Started, you agree to our Terms and Conditions.</p>

		<img class="subscribe-image" width="288" height="400">
	</div>
</section>