<section class="welcome">
  <div class="container">
    <div class="welcome-container">
      <p class="welcome-sup-title">Welcome</p>
      <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      <p class="welcome-text">
        At CoffeeJoy, we believe that every cup tells a story. Our mission is to
        bring you the finest coffee experiences, crafted with care and
        dedication. We are committed to sourcing high-quality beans and roasting
        them to perfection, ensuring each sip is a delight.
      </p>
      <button type="button" class="welcome-bth">Find location</button>
      <img
        srcset="
          ./images/team/team-1-min.jpg    1x,
          ./images/team/team-1@2x-min.jpg 2x
        "
        src="./images/team/team-1-min.jpg"
        alt="Mark Guerrero Product Designer"
        width="264"
      />
    </div>
  </div>
</section>
