<section class="welcome">
  <div class="container">
    <div class="welcome-container">
      <div class="welcome-heading">
        <p class="welcome-sup-title">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-content">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="welcome-bth">
          <span class="button-text">Find location</span>
          <svg class="welcome-svg" width="25" height="24">
            <use href="/img/welcome/sprite (1).svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="welcome-image">
      <img
        class="welcome-img"
        srcset="
          /img/welcome/welcome/welcome-img-min.jpg    1x,
          /img/welcome/welcome/welcome-img@2x-min.jpg 2x
        "
        alt="welcome-img"
      />
    </div>
  </div>
</section>
