<section class="welcome">
  <div class="container">
    <div class="welcome-container">
      <div class="welcome-heading">
        <p class="welcome-sup-title">Welcome</p>
        <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="welcome-content">
        <p class="welcome-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <button type="button" class="welcome-bth">
          Find location
          <svg class="welcome-svg" width="25" height="24">
            <use href="./sprite.svg#icon-instagram"></use>
          </svg>
        </button>
      </div>
      <div class="welcome-image">
        <img
          srcset="
            ../img/welcome/welcome/welcome-img-min.jpg 1x,
            ./img/welcome/welcome-img@2x-min.jpg       2x
          "
          src="../img/welcome/welcome/welcome-img-min.jpg "
          alt="Generate a warm"
          width="288"
        />
      </div>
    </div>
  </div>
</section>
