body {
  margin: 0;
}

.section-experience .container {
}

.section-experience {
  padding: 64px 0;
  margin: 0 auto;
}

.experience-h {
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.experience-p {
  text-align: center;
  margin-bottom: 32px;
}

.experience-li img {
  border-radius: 32px;
}

.section-experience picture {
  display: block;
}

.experience-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .experience-ul {
    flex-direction: row;
    gap: 32px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .experience-ul {
    max-width: 1312px;
    height: 948px;
    flex-direction: column;
  }
}
