.header {
    background-color: #e0cbb4;
}

.header-container {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: none;
}

.header-logo {
    padding-left: 16px;
    display: block;
}

.burger-btn {
    padding-right: 28px;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #000;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 64px;
  }

  .nav-list {
    display: flex;
    gap: 32px;
  }

  .header-logo {
    padding-left: 48px;
  }

  .nav-link {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

}

@media screen and (min-width: 1158px) {

}