.hero {
  max-width: 375px;
  margin: auto;
  padding-top: 108.5px;
  padding-bottom: 108.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/hero/mob-hero-min.jpg');
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/mob-hero@2x-min.jpg');
  }
}

.hero-container {
  padding-left: 32px;
}

.hero-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  text-transform: uppercase;
  max-width: 256px;
  margin-bottom: 24px;
}

.hero-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 32px;
}

.hero-btn {
  display: block;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 100px;
  width: 135px;
  height: 44px;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 10px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #ab9079;
}

.hero-btn:focus {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 311.5px;
    padding-bottom: 311.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/hero/tab-hero-min.jpg');
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/hero/tab-hero@2x-min.jpg');
    }
  }

  .hero-container {
    padding-left: 32px;
  }

  .hero-title {
    max-width: 560px;
  }

  .hero-text {
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    padding-top: 259px;
    padding-bottom: 259px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/hero/desk-hero-min.jpg');
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/hero/desk-hero@2x-min.jpg');
    }
  }

  .hero-container {
    padding-left: 64px;
  }

  .hero-title {
    font-size: 56px;
  }
}
