.section {
	padding: 64px 0;
}

@media (min-width: 1440px) {
	.subscribe .container {
		display: flex;
		flex-direction: row;
		gap: 32px;
	}
}

@media (max-width: 1439px) {
	.actions {
		margin-bottom: 32px;
	}
}

@media (min-width: 1440px) {
	.actions {
		width: 640px;
	}
}

.subscribe-heading {
	font-family: "Aboreto", sans-serif;;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: -0.01em;
	color: #0B0803;

	margin-bottom: 24px;
}

@media (min-width: 768px) {
	.subscribe-heading {
		font-size: 48px;
	}
}

.subscribe-subtitle {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	color: #0B0803;
	margin-bottom: 32px;
}

.subscribe-form {
	margin-bottom: 32px;
}

@media (min-width: 768px) {
	.subscribe-form {
		flex-direction: row;
		gap: 24px;
	}
}

.subscribe-email-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.subscribe-email-container {
		flex-direction: row;
		gap: 16px;
		margin-bottom: 0;
	}
}

.subscribe-input {
	border: 1px solid rgba(11, 8, 3, 0.15);
	border-radius: 12px;
	padding: 8px 12px;
	width: 100%;
	height: 40px;

	background: rgba(255, 255, 255, 0);

	font-family: "Quicksand", sans-serif;
	line-height: 1.5;
	color: #0b0803;
}

@media (min-width: 768px) {
	.subscribe-input {
		width: 340px;
	}
}

.subscribe-input::placeholder {
	font-family: "Quicksand", sans-serif;
	line-height: 1.5;
	color: rgba(11, 8, 3, 0.6);
}

.subscribe-input:focus {
	outline: none;
}

.subscribe-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	border: none;
	border-radius: 100px;
	padding: 10px 24px;
	height: 44px;

	box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
	background: #6F4E37;

	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	line-height: 1.5;
	color: #FFFFFF;
}

@media (min-width: 768px) {
	.subscribe-button {
		width: 158px;
	}
}

.subscribe-button:hover {
	opacity: 0.5;
}

.subscribe-button:active {
	outline: none;
	box-shadow: none;
	opacity: 1;
}

.subscribe-label {
	font-family: "Quicksand";
	font-size: 12px;
	line-height: 1.5;
	color: #0B0803;
}

.subscribe-icon-container {
	display: inline-flex;
	margin-left: 12px;
}

.subscribe-icon {
	fill: #FFFFFF;
}

.subscribe-image {
	overflow: hidden;
	width: 288px;
	margin: 0 auto;
	border-radius: 40px;
}

@media (min-width: 768px) {
	.subscribe-image {
		width: 704px;
	}
}

@media (min-width: 1440px) {
	.subscribe-image {
		width: 640px;
	}
}